<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        
        <title>Game Chooser</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Word_Card</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="home">主選單列</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="set_index">開始學習</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="create_set">建立學習集</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="modify_set">修改學習集</a>
                    </li>
                </ul>
              
                <!--<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>-->
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <button class="nav-link" id="login_out">Login Out</a>
                  </li>
                </ul>
            </div>
        </nav>

        <!-- Feedback Form -->
        <div class="container mt-5">
            <h1 class="text-center mb-5">建立學習集</h1>
            <form id="dynamicForm">
                <!-- Input Group (Name) -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="nameLabel">學習集名稱</span>
                    </div>
                    <input type="text" class="form-control" id="nameinput" name="name" required>
                </div>
                <div class="Word">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="messageLabel">語詞</span>
                        </div>
                        <textarea class="form-control" name="word_0" rows="3" required></textarea>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="messageLabel">定義</span>
                        </div>
                        <textarea class="form-control" name="define_0" rows="3" required></textarea>
                    </div>
                </div>
                <!-- Add Field Button -->
                <button type="button" class="btn btn-secondary" id="addFieldButton">Add Field</button>
                <!-- Remove Field Button -->
                <button type="button" class="btn btn-secondary" id="removeFieldButton">Remove Field</button>
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary float-right" id="submit">Submit</button>
            </form>
                
            </div>
          
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
            <script>
                let fieldnumber = 1;
                $(document).ready(start);
                function start(){
                    if(localStorage.getItem("word_card_email")== null){
                        location.href='sign';
                    }
                    token_verify();
                    $("#login_out").on("click", login_out);
                    // Add field button click handler
                    $("#addFieldButton").click(function() {
                        // Clone the last input group
                        //var $newInputGroup = $(".input-group:last").clone();
                        // Clear the input fields
                        //$newInputGroup.find("textarea").val("");
                        // Append the new input group to the form
                        let str="";
                        str += " <div class='input-group mb-3'>                                                                  ";        
                        str += "     <div class='input-group-prepend'>                                                           ";               
                        str += "         <span class='input-group-text' id='messageLabel'>語詞</span>                            ";                
                        str += "     </div>                                                                                      ";  
                        str += "     <textarea class='form-control' name='word_"+fieldnumber+"' rows='3' required></textarea>    ";           
                        str += "     <div class='input-group-prepend'>                                                           ";       
                        str += "         <span class='input-group-text' id='messageLabel'>定義</span>                            ";           
                        str += "     </div>                                                                                      ";     
                        str += "     <textarea class='form-control' name='define_"+fieldnumber+"' rows='3' required></textarea>  ";          
                        str += " </div>                                                                                          ";      
                        fieldnumber+=1;
                        $(".Word").append(str);
                    });
                    $("#removeFieldButton").click(function() {
                        // Remove the last input group if there is more than one
                        if ($(".input-group").length > 2) {
                            fieldnumber-=1;
                            $(".input-group:last").remove();
                        }
                    });
                    $("#nameinput").on("blur", name_listen); 
                    fieldnumber = 1;
                }
                $(function() {
                    $('form').submit(function(e) {
                        var form = document.getElementById('dynamicForm');
                        var formData = new FormData(form);
                        formData = Object.fromEntries(formData);
                        formData = Object.entries(formData);
                        formData.push(["email", localStorage.getItem("word_card_email")]);
                        formData.push(["token", localStorage.getItem("word_card_token")]);
                        formData.push(["number", String(fieldnumber)]);
                        formData = Object.fromEntries(formData);
                        formData = JSON.stringify(formData);
                        console.log(formData);
                        e.preventDefault();
                        $.ajax({
                            url: "/create_lab",
                            type: "POST",
                            contentType: "application/json",
                            data: formData,
                            success: function(response) {
                                if(response["message"] == "true"){
                                    alert("add successful");
                                    location.href='/create_set';
                                }
                                else{
                                    alert("error");
                                }
                            }
                        });
                        // You can also send ajax request to save the form data
                    });
                });
                function login_out(){
                    $.ajax({
                        url: "/loginout",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ 'email': localStorage.getItem("word_card_email") , 'token': localStorage.getItem("word_card_token")}),
                        success: function(response) {
                            localStorage.clear();
                            location.href='/';
                        }
                    });
                }
                function name_listen(){
                    $.ajax({
                        url: "/have_lab",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ 'email': localStorage.getItem("word_card_email") , 'token': localStorage.getItem("word_card_token") , 'name' : $('#nameinput').val()}),
                        success: function(response) {
                            if(response["message"] == "true"){
                                alert("此名lab集已擁有");
                                $("#submit").removeAttr("style").hide();
                            }
                            else{
                                $("#submit").show();
                            }
                        }
                    });
                }
                function token_verify(){
                    $.ajax({
                        url: "/token_verify",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ 'email': localStorage.getItem("word_card_email") , 'token': localStorage.getItem("word_card_token") }),
                        success: function(response) {
                            if(response["message"]!="true"){
                                alert("帳號異常，請從新登入");
                                localStorage.clear();
                                location.href='/';
                            }
                        }
                    });
                }
            </script>
    </body>
</html>