<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Game Chooser</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Word_Card</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">主選單列</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="set_index">開始學習</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="create_set">建立學習集</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="modify_set">修改學習集</a>
                </li>
            </ul>
            
            <!--<form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>-->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <button class="nav-link" id="login_out">Login Out</a>
              </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <img src="../static/welcome.jfif" alt="Home image" class="img-fluid">
    </div>
    <!-- Game Chooser -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img src="../static/learn.png" class="card-img-top" alt="learn">
              <div class="card-body">
                <h4 class="card-title">開始學習</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor sollicitudin.</p>
              </div>
              <div class="card-footer">
                <a href="../set_index" class="btn btn-primary">Play</a>
              </div>
            </div>
          </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img src="../static/create.png" class="card-img-top" alt="Create">
              <div class="card-body">
                <h4 class="card-title">建立學習集</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor sollicitudin.</p>
              </div>
              <div class="card-footer">
                <a href="create_set" class="btn btn-primary">Play</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img src="../static/fix.png" class="card-img-top" alt="Game 2">
              <div class="card-body">
                <h4 class="card-title">修改學習集</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor sollicitudin.</p>
              </div>
              <div class="card-footer">
                <a href="modify_set" class="btn btn-primary">Play</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script>
        $(document).ready(start);
        function start(){
          if(localStorage.getItem("word_card_email")== null){
            location.href='sign';
          }
          $("#login_out").on("click", login_out);
        }
        function login_out(){
          $.ajax({
            url: "/loginout",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ 'email': localStorage.getItem("word_card_email") , 'token': localStorage.getItem("word_card_token")}),
            success: function(response) {
              localStorage.clear();
              location.href='/';
            }
          });
        }
      </script>
    </body>
</html>
  