<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>-->

    <title>Word_Card</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Word_Card</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>-->
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="sign">Sign In</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Hero Image -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Welcome to Word_Card</h1>
        <p class="lead">Word_Card是一款遊戲化背單字卡網站，相較於市面上其他相似的產品，很多功能都需要額外付費訂閱才能使用，而每年的訂閱費用至少都要好幾千，為了節省開銷。我們這組決定開發一個免費且類似於Quizlet的網頁程式，並新增一些額外的新功能，以達到既可以不用花錢、同時也能透過字卡互動來快樂的學習英文單字。</p>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4">
          <div class="card" id="demo">
            <img src="../static/demo.png" class="card-img-top" alt="Feature 2">
            <div class="card-body bg-light">
              <h5 class="card-title">Demo Video</h5>
              <p class="card-text">有關此專案的Demo Video連結</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" id="ppt">
            <img src="../static/ppt.png" class="card-img-top " alt="Feature 1" >
            <div class="card-body bg-light">
              <h5 class="card-title">簡報</h5>
              <p class="card-text">有關此專案的簡報連結.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" id="github">
            <img src="../static/github.png" class="card-img-top" alt="Feature 3">
            <div class="card-body bg-light">
              <h5 class="card-title">Github</h5>
              <p class="card-text">有關此專案的github連結.</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
      $("#demo"  ).on("click",function(){location.href = "https://www.w3schools.com";});
      $("#ppt"   ).on("click",function(){location.href = "https://docs.google.com/presentation/d/1UEJx_eG3-edly740Zbo6A1jlZhCHMpAK/mobilepresent?slide=id.g1923433461d_5_75"});
      $("#github").on("click",function(){location.href = "https://github.com/YiKaiWu1125/word_card"});
    </script>
  </body>
</html>