<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        
        <title>Word_Card</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Word_Card</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../home">主選單列</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../set_index">開始學習</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../create_set">建立學習集</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../modify_set">修改學習集</a>
                    </li>
                </ul>
              
                <!--<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>-->
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <button class="nav-link" id="login_out">Login Out</a>
                  </li>
                </ul>
            </div>
        </nav>

        <div class = "container col-6 h-100">
            <h1 class="text-center mb-3">聽力測驗模式</h1>
            <div id="display">
                <!--sample
                <div class = "row">
                    <div class = "col-12 mb-3 p-0">
                        <div id = "speaking_5" class="card pl-1">
                            <div class="card-text">
                                <small class="text-muted">第一題</small>
                            </div>
                            <div class="card-text text-center p-4">
                                <button type = "button" class = "p-2" style = "border:0px;">
                                    <img src = "../static/speaker_spread_out_audio.png" style = "height:5ex;"/>
                                </button>
                            </div>
                            <div class="card-footer bg-transparent">
                                <div class="input-group">
                                    <input type="text" class="form-control" aria-label="Listening and write your answer">
                                    <a href="#speaking_5">
                                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">下一題</button>
                                    </a>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
            </div>

            <div class = "row text-center">
                <div class = "col-12">
                    <button class="btn btn-success my-2 my-sm-0" type="submit" id="submit_test">提交答案</button>
                </div>
            </div>
            
        </div>
        

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script>
            let lab_name="";
            let lab_file=NaN;
            let ans = [];
            $(document).ready(start);
            function start(){
                if(localStorage.getItem("word_card_email")== null){
                    location.href='sign';
                }
                token_verify();
                $("#login_out").on("click", login_out);
                lab_name = {{ _lab_name|tojson }};
                console.log("lab_name is: "+lab_name);
                get_lab_word();
                //alert(lab_name);
            }
            function login_out(){
              $.ajax({
                url: "/loginout",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ 'email': localStorage.getItem("word_card_email") , 'token': localStorage.getItem("word_card_token")}),
                success: function(response) {
                    localStorage.clear();
                    location.href='/';
                }
              });
            }
            function token_verify(){
                $.ajax({
                    url: "/token_verify",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ 'email': localStorage.getItem("word_card_email") , 'token': localStorage.getItem("word_card_token") }),
                    success: function(response) {
                        if(response["message"]!="true"){
                            alert("帳號異常，請從新登入");
                            localStorage.clear();
                            location.href='/';
                        }
                    }
                });
            }
            function get_lab_word(){
                $.ajax({
                url: "/get_lab",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ 'email': localStorage.getItem("word_card_email") , 'token': localStorage.getItem("word_card_token") , 'name' : lab_name}),
                success: function(response) {
                    for(let i=0;i<response["number"];i++){
                        console.log(response[String("word_"+i)],response[String("define_"+i)]);
                    }
                    lab_file=response;
                    init_card(response);
                }
            });
            }
            function speak(text) {
                const synth = window.speechSynthesis;
                const utterance = new SpeechSynthesisUtterance(text);
                synth.speak(utterance);
            }
            function init_card(response){
                for(let i=0;i<response["number"];i++){
                    made_card(i);
                    ans[i]=response[String("word_"+i)];
                }
                for(let i=0;i<response["number"];i++){
                    $("#btn_"+i).on("click",function(){speak(response[String("word_"+i)])});
                }
                $("#submit_test").on("click",submit_test);
            }
            function made_card(number){
                let str = "";
                str += "<div class = 'row'>                                                                                                                 ";                                                                  
                str += "    <div class = 'col-12 mb-3 p-0'>                                                                                                 ";                                                                                     
                str += "        <div id = 'speaking_"+number+"' class='card pl-1'>                                                                          ";                                                   
                str += "            <div class='card-text'>                                                                                                 ";                                                                                                     
                str += "                <small class='text-muted'>第"+(number+1)+"題</small>                                                                ";  
                str += "                <div id='judge_"+number+"'></div>                                                                                   ";                                                                                                                                        
                str += "            </div>                                                                                                                  ";                    
                str += "            <div class='card-text text-center p-4'>                                                                                 ";                                                                                                     
                str += "                <button type = 'button' class = 'p-2' style = 'border:0px;' id='btn_"+number+"'>                                    ";                                              
                str += "                    <img src = '../static/speaker_spread_out_audio.png' style = 'height:5ex;'/>                                     ";                                                 
                str += "                </button>                                                                                                           ";  
                str += "            </div>                                                                                                                  ";                                                                    
                str += "            <div class='card-footer bg-transparent'>                                                                                ";                                                      
                str += "                <div class='input-group'>                                                                                           ";                                           
                str += "                    <input type='text' class='form-control' aria-label='Listening and write your answer' id='input_"+number+"'>     ";                                                                                           
                str += "                    <a href='#speaking_"+(number+1)+"'>                                                                             ";                                                            
                str += "                        <button class='btn btn-outline-secondary my-2 my-sm-0' type='submit'>下一題</button>                        ";                                                                                              
                str += "                    </a>                                                                                                            ";                                          
                str += "                  </div>                                                                                                            ";                                                          
                str += "            </div>                                                                                                                  ";                                    
                str += "        </div>                                                                                                                      ";                                                
                str += "    </div>                                                                                                                          ";                                                               
                str += "</div>                                                                                                                              ";                                                        
                $("#display").append(str);
            }
            function submit_test(){
                let ans_y = 0;
                let ans_n = 0;
                let input_arr = [];
                let error_id = [];
                for(let i=0;i<lab_file["number"];i++){
                    input_arr.push($("#input_"+i).val());
                    $("#input_"+i).prop('disabled', true); 
                    if(lab_file["word_"+i]!=$("#input_"+i).val()){
                        ans_n++;
                        error_id.push(i);
                        $("#judge_"+i).html("<img src = '../static/false.png' style = 'height:5ex;width:5ex'/><p>正確答案為:"+lab_file["word_"+i]+"</p>")
                    }
                    else{
                        $("#judge_"+i).html("<img src = '../static/true.png' style = 'height:4ex;width:4ex'/><p>正確答案為:"+lab_file["word_"+i]+"</p>")
                        ans_y++;
                    }                                                         
                }
                alert("恭喜您 答對: "+ans_y+" 題，答錯: "+ans_n+" 請再接再厲。");
                $("#submit_test").html("回到選單");
                $("#submit_test").off("click",submit_test);
                $("#submit_test").on("click",function(){location.href='../set_index';});
            }
        </script>
    </body>
</html>
  