<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        
        <title>Word_Card</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Word_Card</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../home">主選單列</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="../set_index">開始學習</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../create_set">建立學習集</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../modify_set">修改學習集</a>
                    </li>
                </ul>
              
                <!--<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>-->
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <button class="nav-link" id="login_out">Login Out</a>
                  </li>
                </ul>
            </div>
        </nav>

        <div class = "container col-6 h-100">
            <h1 class="text-center mb-3">配對模式</h1>
            <div id="display">
            <!-- 範例
            
            <div class = "row">
                <div class = "col-6 mb-3 p-0">
                    <div class="card pl-1" style = "height: 280px;">
                        <div class="card-text">
                            <small class="text-muted">詞語</small>
                        </div>
                        <h5 class="card-body align-items-center text-center">OOP</h5>
                        <div class="card-footer bg-transparent">
                            <button class="btn btn-outline-success my-2 my-sm-0 btn-block" type="submit">對</button>
                        </div>
                    </div>
                </div>          
                <div class = "col-6 mb-3 p-0" style = "padding-left: 0%;">
                    <div class="card pl-1" style = "height: 280px;">
                        <div class="card-text">
                            <small class="text-muted">定義</small>
                        </div>
                        <h5 class="card-body align-items-center text-center">Object Oriented Programming 物件 導向 程式 設計</h5>
                        <div class="card-footer bg-transparent">
                            <button class="btn btn-outline-danger my-2 my-sm-0 btn-block" type="submit">錯</button>
                        </div>
                    </div>
                </div>
            </div>

            -->
            </div>

        </div>

        

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script>
            let lab_name="";
            let lab_file=NaN;
            let ans = [];
            let state = [];
            let res = [];
            let total = 0;
            $(document).ready(start);
            function start(){
                if(localStorage.getItem("word_card_email")== null){
                    location.href='sign';
                }
                token_verify();
                $("#login_out").on("click", login_out);
                lab_name = {{ _lab_name|tojson }};
                console.log("lab_name is: "+lab_name);
                get_lab_word();
            }
            function login_out(){
              $.ajax({
                url: "/loginout",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ 'email': localStorage.getItem("word_card_email") , 'token': localStorage.getItem("word_card_token")}),
                success: function(response) {
                    localStorage.clear();
                    location.href='/';
                }
              });
            }
            function token_verify(){
                $.ajax({
                    url: "/token_verify",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ 'email': localStorage.getItem("word_card_email") , 'token': localStorage.getItem("word_card_token") }),
                    success: function(response) {
                        if(response["message"]!="true"){
                            alert("帳號異常，請從新登入");
                            localStorage.clear();
                            location.href='/';
                        }
                    }
                });
            }
            function get_lab_word(){
                $.ajax({
                url: "/get_lab",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ 'email': localStorage.getItem("word_card_email") , 'token': localStorage.getItem("word_card_token") , 'name' : lab_name}),
                success: function(response) {
                    for(let i=0;i<response["number"];i++){
                        console.log(response[String("word_"+i)],response[String("define_"+i)]);
                    }
                    if(response["number"]>=1){
                        init_card(response);
                    }
                    else{
                        alert("no find data");
                    }
                    total=response["number"];
                    lab_file = response;
                }
            });
            }
            function click_yes(number){
                console.log(number + "say yes");
                $("#ac_yes_"+number).html("<button class='btn btn-outline-success my-2 my-sm-0 btn-block active' type='button' id='yes_"+number+" '>對</button> ");
                $("#ac_no_"+number).html("<button class='btn btn-outline-danger my-2 my-sm-0 btn-block' type='button' id='no_"+number+" '>錯</button>");
                state[number]="true";
                let bo = "true";
                for(let i=0;i<total;i++){
                    if(state[i]=="null"){
                        bo = "false";
                        break;
                    }
                }
                if (bo == "true"){
                    game_over();
                }
            }
            function click_no(number){
                console.log(number + "say no");
                $("#ac_yes_"+number).html("<button class='btn btn-outline-success my-2 my-sm-0 btn-block' type='button' id='yes_"+number+" '>對</button> ");
                $("#ac_no_"+number).html("<button class='btn btn-outline-danger my-2 my-sm-0 btn-block active' type='button' id='no_"+number+" '>錯</button>");
                state[number]="false";
                let bo = "true";
                for(let i=0;i<total;i++){
                    if(state[i]=="null"){
                        bo = "false";
                        break;
                    }
                }
                if (bo == "true"){
                    game_over();
                }
            }
            function init_card(response){
                for(let i=0;i<response["number"];i++){
                    console.log(response[String("word_"+i)],response[String("define_"+i)]);
                    if(Math.random()<0.5 || response["number"] == 1){
                        //true;
                        made_card(i,response[String("word_"+i)],response[String("define_"+i)]);
                        ans[i]="true";
                        res[i] = response[String("define_"+i)];
                    }
                    else{
                        //false;
                        k = response["number"];
                        while(k==response["number"]){
                            k = Math.floor(Math.random() * response["number"]);
                        }
                        made_card(i,response[String("word_"+i)],response[String("define_"+k)]);
                        ans[i]="false";
                        res[i] = response[String("define_"+k)];
                    }
                    state[i]="null";
                }
                for(let i=0;i<response["number"];i++){
                    $("#yes_"+i).on("click",function(){click_yes(i)});
                    $("#no_"+i).on("click",function(){click_no(i)});
                }
            }
            function made_card(id,word,define){
                let str="";
                str += " <div class = 'row'>                                                                                                            ";           
                str += "     <div class = 'col-6 mb-3 p-0'>                                                                                             ";                   
                str += "         <div class='card pl-1' style = 'height: 280px;'>                                                                       ";            
                str += "             <div class='card-text'>                                                                                            ";         
                str += "                 <small class='text-muted'>詞語"+(id+1)+"</small>                                                                         ";               
                str += "             </div>                                                                                                             ";             
                str += "             <h5 class='card-body align-items-center text-center'>"+word+"</h5>                                                 ";                                  
                str += "             <div class='card-footer bg-transparent' id='ac_yes_"+id+"' >                                                       ";        
                str += "                 <button class='btn btn-outline-success my-2 my-sm-0 btn-block' type='button' id='yes_"+id+"'>對</button>       ";                             
                str += "             </div>                                                                                                             ";    
                str += "         </div>                                                                                                                 ";                               
                str += "     </div>                                                                                                                     ";        
                str += "     <div class = 'col-6 mb-3 p-0' style = 'padding-left: 0%;'>                                                                 ";            
                str += "         <div class='card pl-1' style = 'height: 280px;'>                                                                       ";                            
                str += "             <div class='card-text'>                                                                                            ";                                  
                str += "                 <small class='text-muted'>定義"+(id+1)+"</small>                                                                         ";                    
                str += "             </div>                                                                                                             ";                        
                str += "             <h5 class='card-body align-items-center text-center'>"+define+"</h5>                                               ";                        
                str += "             <div class='card-footer bg-transparent' id='ac_no_"+id+"'' >                                                        ";                        
                str += "                 <button class='btn btn-outline-danger my-2 my-sm-0 btn-block' type='button' id='no_"+id+"'>錯</button>         ";                                    
                str += "             </div>                                                                                                             ";            
                str += "         </div>                                                                                                                 ";                    
                str += "     </div>                                                                                                                     ";                    
                str += " </div>                                                                                                                         ";  
                $("#display").append(str);                       
            }
            function game_over(){
                let ans_true = 0;
                let ans_false = 0;
                let arr = [];
                for(let i = 0 ;i<total ;i++){
                    if(state[i]!=ans[i]){
                        ans_false++;
                        arr.push(i);
                    }
                    else{
                        ans_true++;
                    }
                }
                if(ans_false == 0){
                    alert("恭喜全對");
                }
                else{
                    alert("一共"+total+"題，您一共答對 "+ans_true+" 題，答錯 "+ans_false+" 題，以下進行檢討");
                    console.log(arr);
                    for(let i = 0; i < arr.length ;i++){
                        let str = "錯誤"+(i+1)+" , "+lab_file[String("word_"+arr[i])]+" 的正確定義";
                        if(ans[i] == "true"){
                            str+=" 確實是 ";
                        }
                        else{
                            str+=" 並非是 ";
                        }
                        str +=  res[arr[i]] + ".";
                        alert(str);
                    }
                    alert("檢討完畢");
                }
               
                location.href='../set_index';
            }
        </script>
    </body>
</html>
  