<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        
        <title>Word_Card</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Word_Card</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="home">主選單列</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="set_index">開始學習</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="create_set">建立學習集</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="modify_set">修改學習集</a>
                    </li>
                </ul>
              
                <!--<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>-->
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <button class="nav-link" id="login_out">Login Out</a>
                  </li>
                </ul>
            </div>
        </nav>
        <div class="container mt-5">
            <!-- Dropdown Menu for Levels -->
            <form>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select Word Label</label>
                    <select class="form-control" id="nameinput">
                    </select>
                </div>
            </form>
        
            <!-- Mode Cards with Images -->
            <div class="card-group mt-3">
                    <div class="card">
                    <img src="/static/word_card.jpg" class="card-img-top" alt="Mode 1">
                    <div class="card-body">
                        <h5 class="card-title">單詞卡模式</h5>
                        <p class="card-text">透過單字卡的輔助，以提升學習效率!</p>
                        <a href="flash_card" id="flash_card_a" class="btn btn-primary">進入模式</a>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/listen.jpg" class="card-img-top" alt="Mode 3">
                    <div class="card-body">
                        <h5 class="card-title">聽力測驗</h5>
                        <p class="card-text">一個可以讓你訓練聽力的小助手!</p>
                        <a href="listen" id="listen_a" class="btn btn-primary">進入模式</a>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/speak.jpg" class="card-img-top" alt="Mode 4">
                    <div class="card-body">
                        <h5 class="card-title">口說測驗</h5>
                        <p class="card-text">是時候該練練口說能力了吧!</p>
                        <a href="speaker" id="speaker_a"  class="btn btn-primary">進入模式</a>
                    </div>
                </div>
            </div>
            
            <div class="card-group mt-3">
                <div class="card">
                    <img src="/static/learns.png" class="card-img-top" alt="Mode 2">
                    <div class="card-body">
                        <h5 class="card-title">學習模式</h5>
                        <p class="card-text">見證你的實力，就來挑戰吧!</p>
                        <a href="learn" id="learn_a" class="btn btn-primary">進入模式</a>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/test.jpg" class="card-img-top" alt="Mode 3">
                    <div class="card-body">
                        <h5 class="card-title">測試模式</h5>
                        <p class="card-text">不同的出題模式，考考你是否真的學會了鴨!</p>
                        <a href="quiz" id="quiz_a" class="btn btn-primary">進入模式</a>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/match.png" class="card-img-top" alt="Mode 4">
                    <div class="card-body">
                        <h5 class="card-title">配對模式</h5>
                        <p class="card-text">透過有趣的小遊戲，提高你學習的興致!</p>
                        <a href="match" id="match_a"  class="btn btn-primary">進入模式</a>
                    </div>
                </div>
            </div>
        </div>

      
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script>
            $(document).ready(start);
            function start(){
                if(localStorage.getItem("word_card_email")== null){
                    location.href='sign';
                }
                token_verify();
                $("#login_out").on("click", login_out);
                loading_labname();
            }
            function login_out(){
              $.ajax({
                url: "/loginout",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ 'email': localStorage.getItem("word_card_email") , 'token': localStorage.getItem("word_card_token")}),
                success: function(response) {
                    localStorage.removeItem('word_card_email');
                    localStorage.removeItem('word_card_token');
                    location.href='/';
                }
              });
            }
            function loading_labname(){
                $.ajax({
                    url: "/lab_name",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ 'email': localStorage.getItem("word_card_email") , 'token': localStorage.getItem("word_card_token") }),
                    success: function(response) {
                        for(let i in response){
                            $("#nameinput").append("<option value="+response[i]['name']+">"+response[i]["name"]+"</option>");
                        }
                        $("#nameinput").on("change", herf_update);
                        herf_update();
                    }
                });
            }
            function token_verify(){
                $.ajax({
                    url: "/token_verify",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ 'email': localStorage.getItem("word_card_email") , 'token': localStorage.getItem("word_card_token") }),
                    success: function(response) {
                        if(response["message"]!="true"){
                            alert("帳號異常，請從新登入");
                            localStorage.clear();
                            location.href='/';
                        }
                    }
                });
            }
            function herf_update(){
                let up_name=$("#nameinput").val();
                if(up_name == null){
                    alert("您尚未擁有學習集，請先建立新的學習集，再開始學習吧!");
                    location.href='/create_set';
                }
                else {
                    $('#match_a').attr("href", "match/"+up_name);
                    $('#quiz_a').attr("href", "quiz/"+up_name);
                    $('#listen_a').attr("href", "listen/"+up_name);
                    $('#speaker_a').attr("href", "speaker/"+up_name);
                    $('#learn_a').attr("href", "learn/"+up_name);
                    $('#flash_card_a').attr("href", "flash_card/"+up_name);
                }
            }
        </script>
    </body>
</html>
  